{% extends 'base.html' %}

{% block css %}
<style>
    body{
        background-image:url("https://d57439wlqx3vo.cloudfront.net/iblock/bc0/bc0f0fade6094e32d26afe9ee426bf47/a1d39b9944184055866844a5d88fdec3.png");
        background-repeat: no-repeat;
        background-size: cover;
        
    }
</style>
{% endblock %}


{% block body %}
{% include "notif.html" %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center p-3">
           
            </h1> 
        </div>
    </div>
</div>
{% endblock %}